@charset "UTF-8";
@font-face {
    font-family: 'MinSans-Medium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/MinSans-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.notosanskr * { 
 font-family: 'Noto Sans KR', sans-serif;
}
.container {
	margin-top:150px;
	margin-bottom:150px;
}
h2#center {
	text-align:center;
	margin-bottom:50px;
	color:#fff;
	line-height:500px;
	font-size: 35px;
	font-weight:bold;
	font-family: 'Noto Sans KR', sans-serif;
}
.subback {
	width:100%;
	height:500px;
	overflow:hidden;
	background:url("image/notice.jpg");
}
.btn-dark {
    float: right;
    width: 150px;
    color: #fff;
    background-color: #343a40;
    border-color: #343a40;
    border-radius: 50px;
    margin-left: 1%;
    margin-top: 50px;
}
h3.table_head {
	font-size:30px;
	font-weight:bold;
}
.table tr th {
	width:150px; 
}
p.tables {
	font-size:16px;
}
.post_text {
	margin-top:50px;
}
.post_text label {
	font-weight:bold;
}
 .board_box_wrap {
 	width:100%;
 	display:flex;
 	borer-bottom:1px solid #ddd;
 	height: 75px;
 }
 .board_box_left {
 	width:80%;
 }
 .board_box_right {
 	width:20%;
 	text-align: right;
 	margin-top: 43px;
 } 
 .side_menu {
 	text-align: right;
    padding-top: 35px;
 }
 .board_box_right ul {
    position:relative;
    top: 0px;
    right: -102px;
    background:#fff;
    box-shadow: 0 2px 3px #eee;
 	width:120px;	
    border: 1px solid #d4d4d4;
    -webkit-box-shadow: 0 2px 3px #eee;
    -moz-box-shadow: 0 2px 3px #eee;
    box-shadow: 0 2px 3px #eee;
 }
   .board_box_right ul li{
   		text-align:center;
}
  .board_box_right ul li a{
  	color:#000;
  	font-size:14px;
  	display:block;
  	line-height: 35px;
  	text-decoration:none;
}
.board_box_right ul li:nth-child(1) {
	border-bottom:1px solid #ddd;
}  
.post_about {
	width:100%;
	margin-top:30px;
	display:flex;
} 
.left_about {
	width:49%;
	margin-right:2%;
}
.right_about {
	width:49%;
}
.btn_one {
	background: #ff3a3a;
    color: #fff;
    border:1px solid #ff3a3a;
    -webkit-box-shadow: 0 2px 5px rgb(0 0 0 / 10%);
    -moz-box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    box-shadow: 0 2px 5px rgb(0 0 0 / 10%);
}
.post_wrap {
	width:100%;
	display:flex;
}
.post_upload {
	margin-top:100px;
	padding-bottom:30px;
	border-bottom:2px solid #000;
}
.post_upload h4 {
	margin-bottom:25px;
	margin-top:50px;
	color:blue;
	font-size:18px;
	font-weight:bold;
}
.p_load {
	border-bottom:1px solid #ddd;
	margin-bottom:20px;
	padding-bottom:20px;

} 
.post_left {
	width:90%;
}
.post_right {
	margin-top:-50px;
	width:10%;
}
.p_load span {
	font-weight:bold;
	font-size:16px;
	line-height:35px;
}
.btns {
	background:#fff;
	color:#000;
	width:100%;
	border:1px solid #1d2124;
} 
.btns:hover {
	color: #fff;
    background-color: #23272b;
    border-color: #1d2124;
}
#check-btn { display: none; }
#check-btn:checked ~ .menubars { display: block; } 
.menubars { display: none; }