@charset "UTF-8";
@font-face {
    font-family: 'MinSans-Medium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/MinSans-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
h2.map_head {
	font-size:50px;
	font-weight:bold; 
	margin-bottom:30px;
	text-align:center;
	color:#000;
	font-family: 'GmarketSansMedium';
}
.notosanskr * { 
 font-family: 'Noto Sans KR', sans-serif;
}
.container {
	margin-top:150px;
	max-width:100%;
	padding:0px;
}
h2#center {
	text-align:center;
	margin-bottom:50px;
	color:#fff;
	line-height:500px;
	font-weight:bold;
	font-size: 35px;
	font-family: 'Noto Sans KR', sans-serif;
} 
.subback {
	width:100%;
	height:500px;
	overflow:hidden;
	background:url("image/company.jpg");
} 
.map_wrap {
	width:1500px;
	margin:0 auto;
	margin-bottom:100px;
	display:flex;
}
.map_left {
	width:50%;
}
.map_left h2 {
	font-size:40px;
	line-height:55px;
	font-weight:bold;
	font-family: 'GmarketSansMedium';
}
.map_right {
	width:50%;
}
.map_text01 {
	margin-top:50px;
	font-size:22px;
	line-height:35px;
	color:#999999;
}